name: Shadow Ray Build and Verify
on:
  push:
    branches: [main]
permissions:
  id-token: write
  contents: write
  attestations: write
jobs:
  build-and-verify:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      package: shadow-ray
      release_name: "Shadow Ray Build ${{ github.sha }}"